<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <!--Väljer att lägga denna koppling här så slipper jag sprida ut den-->

    <add name="GOLF"
              connectionString="Server=127.0.0.1;Port=5432;Database=golfkolltest;User Id=patrick;Password=patrick"
              providerName="Npgsql" />
  </connectionStrings>
</configuration>